@import "../variables";
@import "../mixins";
@import "./status-bar";

.action-sheet {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 28, 0.4);
  z-index: 10;
  @include flex(column, flex-end, center);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none; /* можно кликать сквозь неактивный action sheet */

  &--active {
    opacity: 1;
    transition: opacity 0.3s;
    pointer-events: auto; /* возможность кликать по action sheet */
  }

  &__content {
    @include flex(column, flex-start, flex-start);
    border: 0.5px solid #ecedf0;
    border-radius: $spacing-sm;

    box-shadow: 0 0 8px 0 rgba(30, 30, 36, 0.1),
      0 8px 16px 0 rgba(23, 23, 28, 0.05);
    background-color: $color-white;
  }

  &__header {
    margin-top: $spacing-xs;
    padding: 0.875rem $spacing-md;
    text-align: left;
    font-weight: $font-weight-semibold;
    letter-spacing: 0.01em;
    color: $color-secondary;
    width: 100%;
    box-sizing: border-box;

    &_price {
      margin-top: $spacing-xxxs;
      font-size: $font-size-tag;
      line-height: 117%;
      letter-spacing: 0em;
      color: $color-grey;
    }
  }

  &__item {
    @include flex(row, flex-start, center, $spacing-md);
    padding: 0.875rem $spacing-md;
    border: none;
    background-color: transparent;
    font-weight: $font-weight-medium;
    font-size: $font-size-base;
    line-height: 125%;
    color: $color-text-primary;
    transition: all 0.2s ease-in;
    cursor: pointer;

    &:hover {
      font-weight: $font-weight-semibold;
      color: $color-primary;
    }
    &:active {
      font-weight: $font-weight-semibold;
      font-size: $font-size-item;
      line-height: 129%;
      letter-spacing: 0.01em;
    }

    &_selections {
    }
    &_additions {
    }
    &_collections {
    }
    &_fixies {
    }
    &_shares {
    }
  }

  &__cancel {
    height: $spacing-xxxs;
    min-width: 8.75rem;
    border-radius: 2px;
    background-color: $color-white;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xs;
    cursor: pointer;

    &:hover {
      background-color: darken($color-white, 5%);
    }
  }
}
