@import "../variables";
@import "../mixins";
@import "./status-bar";

.action-sheet {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #9c9c9e; /* Фон */
  z-index: 10;
  @include flex(column, flex-end, center);
  visibility: hidden; // Скрываем Action Sheet по умолчанию
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s; // Задержка скрытия

  &--active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s; // Убираем задержку при появлении
  }

  &__content {
    @include flex(column, flex-start, flex-start);
    border: 0.5px solid #ecedf0;
    border-radius: $spacing-sm;
    padding: $spacing-xs 0;
    box-shadow: 0 0 8px 0 rgba(30, 30, 36, 0.1),
      0 8px 16px 0 rgba(23, 23, 28, 0.05);
    background-color: $color-white;
  }

  &__item {
    @include flex(row, flex-start, center, $spacing-md);
    padding: 0.875rem $spacing-md;
    border: none;
    background-color: transparent;
    font-weight: $font-weight-medium;
    font-size: $font-size-base;
    line-height: 125%;
    font-size: $font-size-item;
    color: $color-text-primary;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }

    svg {
      fill: $color-primary; // Цвет иконки
    }

    & svg :hover {
      fill: $color-primary;
    }
  }

  &__cancel {
    height: $spacing-xxxs;
    min-width: 8.75rem;
    border-radius: 2px;
    background-color: $color-white;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xs;
    cursor: pointer;

    &:hover {
      background-color: darken($color-white, 5%);
    }
  }
}
