@import "../variables";
@import "../mixins";

.action-sheet {
  @include fixed();
  @include visually-hidden();

  &--active {
    @include flex(column, center, center);
    @include visible();

    .action-sheet__content {
      position: relative;
      @include flex(column, flex-start, flex-start);
    }
  }

  &--mobile {
    // Стили для мобильного отображения (модальное окно)
    background-color: $background; // Добавляем затемнение
    @include flex(column, flex-end, center);
  }

  &__content {
    display: none; // Изначально скрываем контент
    position: absolute;
    padding-bottom: $spacing-xs;
    border: 0.5px solid #ecedf0;
    border-radius: $spacing-sm;
    box-shadow: $box-shadow;
    background-color: $color-white;

    &--active {
      @include flex(column, flex-start, flex-start);

      .action-sheet {
        position: absolute; //  Делаем абсолютным для десктопа
      }
    }
  }

  &__header {
    margin-top: $spacing-xs;
    padding: 0.875rem $spacing-md;
    width: 100%;
    box-sizing: border-box;
    text-align: left;

    &_title {
      font-weight: $font-weight-semibold;
      letter-spacing: 0.01em;
      color: $color-secondary;
    }
    &_price {
      margin-top: $spacing-xxxs;
      font-size: $font-size-tag;
      line-height: 117%;
      letter-spacing: 0em;
      color: $color-grey;
    }
  }

  &__button {
    @include flex(row, flex-start, center, $spacing-md);
    padding: 0.875rem $spacing-md;
    position: relative;
    padding-left: 3rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: $font-weight-medium;
    font-size: $font-size-base;
    line-height: 125%;
    color: $color-text-primary;
    transition: all 0.3s ease-in;

    & button {
      padding: 0 $spacing-xxxs;
      font-weight: $font-weight-medium;
      font-size: $font-size-base;
      line-height: 125%;
      color: $color-text-primary;
      background-color: $color-white;

      &:hover {
        color: $color-primary;
      }
    }

    &:hover {
      color: $color-primary;
    }

    &:active {
      color: $color-text-link-hover;
    }
    svg {
      transition: opacity 0.2s ease-in-out;
    }

    &_icon {
      // Стили для иконок "Множественный выбор"
      &-selections {
        @include action-sheet-icon("/public/icons/select.svg");
      }
      .action-sheet__button:hover &-selections {
        background-image: url("/public/icons/multi-select.svg");
      }

      // Стили для иконок "Добавить в избранное"
      &-additions {
        @include action-sheet-icon("/public/icons/add_favorite.svg");

        &--active {
          background-image: url("/public/icons/favorite_added.svg");
        }
      }
      .action-sheet__button:hover &-additions {
        background-image: url("/public/icons/favorite_added.svg");
      }

      // Стили для иконок "Добавить в подборки"
      &-collections {
        @include action-sheet-icon("/public/icons/add_collection.svg");
      }
      .action-sheet__button:hover &-collections {
        background-image: url("/public/icons/collection_added.svg");
      }

      // Стили для иконок "Зафиксировать"
      &-fixies {
        @include action-sheet-icon("/public/icons/unlock.png");
      }
      .action-sheet__button:hover &-fixies {
        background-image: url("/public/icons/lock.svg");
      }

      // Стили для иконок "Поделиться"
      &-shares {
        @include action-sheet-icon("/public/icons/share.png");
      }
      .action-sheet__button:hover &-shares {
        @include action-sheet-icon("/public/icons/shared.svg");
      }

      // Стили для иконок "Отмена"
      &-cancel {
        @include action-sheet-icon("/public/icons/cancel.svg");
      }
    }
  }

  &__сancel-button {
    // Сбрасываем отступы для button
    padding: 0;
    margin: 0;
    @include close-options-button();
  }
}

// Медиа-запросы
@media (min-width: $breakpoint-sm) {
  /* 744px */
  .action-sheet {
    position: absolute; // Важно: обертка  становится absolute
    top: $spacing-xs;
    right: $spacing-sm;
    background: none;
    display: block;
    width: auto;
    height: auto;

    &--active {
      .action-sheet__content {
        position: absolute;
        margin-top: $spacing-xs;
        box-shadow: 0 8px 16px 0 $background;
        @include flex(column, flex-start, flex-start);
      }
    }

    &--mobile {
      // Убираем стили для мобильных устройств на desktop
      background-color: transparent;
    }
    &__сancel-button {
      display: none;
    }
  }
}
