@import "../variables";
@import "../mixins";

.builder {
  margin-top: $spacing-xl;

  &__title {
    padding: 0 $spacing-sm;
    text-align: left;
    font-weight: $font-weight-semibold;
    font-size: $font-size-subtitle;
    color: $color-text-primary;
    margin-bottom: $spacing-lg;
  }

  &__statuses {
    padding: 0 $spacing-sm;
    margin: 0 0 $spacing-md 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Чтобы элементы переносились на новую строку */
  }

  &__status {
    @include flex(row, flex-start, center, $spacing-xxs);
    font-weight: $font-weight-medium;
    font-size: $font-size-tag;
    line-height: 117%;
    margin-right: $spacing-md;
    margin-bottom: $spacing-sm;
  }
  &__status-icon {
    @include icon(1.25rem); // 20*20px
    border-radius: $border-radius-circle;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block; /* Чтобы можно было задавать размеры */
    svg {
      &--selected {
        border: 2px solid $color-primary; /* Цвет для "Выбрано" */
      }

      &--available {
        fill: $color-green; /* Цвет для "Доступно" */
      }

      &--not-unique {
        fill: $color-red; /* Цвет для "Не уникальный клиент" */
      }

      &--no-objects {
        fill: $color-grey; /* Цвет для "Нет объектов" */
      }
    }
  }
  &__container {
    padding: 0;
    margin: 0;
    @include flex(row, flex-start, center, $spacing-xs);
  }

  &__logo-link {
    display: block; /* Чтобы ссылка занимала всю площадь логотипа */
  }
  &__logo {
    max-height: 3rem;
    min-width: 5.625rem;
    padding: $spacing-sm;
    object-fit: contain;
    background-color: $color-white;
    box-sizing: border-box;
    border-radius: $border-radius;
    border: 2px solid $color-white;
    svg {
      height: 1.5rem;
      width: auto;
    }
  }

  .active {
    border: 2px solid $color-primary;
  }
}
