@import "../variables";
@import "../mixins";

.builder {
  margin-top: $spacing-xxl;

  &__title {
    padding: 0 $spacing-xs;
    text-align: left;
    font-weight: $font-weight-semibold;
    font-size: $font-size-subtitle;
  }

  &__statuses {
    margin: $spacing-md 0 $spacing-md 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Чтобы элементы переносились на новую строку */
    gap: $spacing-xxxs;
  }

  &__status {
    @include flex(row, flex-start, center, $spacing-xxs);
    font-weight: $font-weight-medium;
    font-size: $font-size-tag;
    line-height: 117%;
    letter-spacing: 0em;
    border: 0.5px solid #dddde3;
    border-radius: $border-radius-small;
    padding: $spacing-xxxs $spacing-xs;
  }
  &__status-icon {
    @include icon(1.25rem); // 20*20px
    border-radius: $border-radius-circle;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block; /* Чтобы можно было задавать размеры */
    &--selected {
      border: 2px solid $color-primary; /* Цвет для "Выбрано" */
    }

    &--available {
      background-color: $color-green; /* Цвет для "Доступно" */
    }

    &--not-unique {
      background-color: $color-red; /* Цвет для "Не уникальный клиент" */
    }

    &--no-objects {
      background-color: $color-grey; /* Цвет для "Нет объектов" */
    }
  }
  &__container {
    padding: 0;
    margin: 0;
    @include flex(row, flex-start, center, $spacing-xs);
  }

  &__logo-link {
    display: flex; /* Чтобы ссылка занимала всю площадь логотипа */
  }
  &__logo {
    max-height: 3rem; // 48px
    min-width: 5.625rem; // 90px
    flex-shrink: 0; // Предотвращает сжатие элементов при нехватке места
    padding: $spacing-sm;
    object-fit: contain;
    box-sizing: border-box;
    border: 2px solid $color-white;
    border-radius: $border-radius;
    background-color: $color-white;
    svg {
      height: 1.5rem;
      width: auto;
    }

    &:hover {
      border: $border;
      box-shadow: $box-shadow;
    }
    &:active {
      border: 2px solid $color-primary;
      box-shadow: $box-shadow;
    }
  }

  .active {
    border: 2px solid $color-primary;
    box-shadow: $box-shadow;
  }
}

// Медиа-запросы
@media (min-width: $breakpoint-md) {
  /* 1024px */
  .builder {
    margin-top: 1rem;
    border-radius: $spacing-sm;
    padding: 0 0 $spacing-xs 0;

    &__title {
      padding: 0;
    }

    &__statuses {
      border-bottom: $border-bottom;
    }

    &__logo {
      height: 4rem; // 64px
      min-width: 7.5rem; // 120px
    }

    &__container {
      margin-top: $spacing-md;
      max-width: 38.5rem; // 616px
      max-height: 8rem;
    }
  }
}

// Медиа-запросы
@media (min-width: $breakpoint-lg) {
  /* 1366px */
  .builder__container {
    max-width: 54.875rem; // 878px
  }
}
@media (min-width: $breakpoint-xxl) {
  /* 1920px */
  .builder__container {
    max-width: 89.5rem; // 1432px
  }
}
@media (min-width: $breakpoint-xxxl) {
  /* 2560px */
  .builder__container {
    max-width: 129.5rem; //  2072px
  }
}
