@import "../variables";
@import "../mixins";

.builder {
  margin-top: $spacing-lg;
  margin-bottom: $spacing-lg;

  &__title {
    font-family: $font-family;
    font-size: $font-size-title;
    font-weight: $font-weight-semibold;
    color: $color-text-primary;
    margin-bottom: $spacing-sm;
  }

  &__statuses {
    list-style: none;
    padding: 0;
    margin: 0 0 $spacing-md 0;
    display: flex;
    flex-wrap: wrap; /* Чтобы элементы переносились на новую строку */
  }

  &__status {
    display: flex;
    align-items: center;

    margin-right: $spacing-md;
    margin-bottom: $spacing-xs;
    font-family: $font-family;
    font-size: $font-size-item;
    font-weight: $font-weight-regular;
    color: $color-text-secondary;
  }
  &__status-icon {
    width: $spacing-md;
    height: $spacing-md;
    border-radius: $border-radius-circle;
    margin-right: $spacing-xs;
    display: inline-block; /* Чтобы можно было задавать размеры */

    &--selected {
      border: 2px solid $color-primary; /* Цвет для "Выбрано" */
    }

    &--available {
      background-color: $color-green; /* Цвет для "Доступно" */
    }

    &--not-unique {
      background-color: $color-red; /* Цвет для "Не уникальный клиент" */
    }

    &--no-objects {
      background-color: $color-grey; /* Цвет для "Нет объектов" */
    }
  }

  &__container {
    @include flex(row, flex-start, center, $spacing-xs);
  }

  &__logo-link {
    display: block; /* Чтобы ссылка занимала всю площадь логотипа */
  }
  &__logo {
    height: $spacing-lg;
    max-width: 5.625rem;
    padding: $spacing-sm;
    object-fit: contain;
    background-color: $color-bg;
    border-radius: $border-radius;
  }

  .active {
    border: 2px solid $color-primary;
  }
}
