@import "../variables";
@import "../mixins";

.desktop-menu {
  @include fixed();
  @include flex(column, flex-start, center, 0);
  max-width: 5rem; // 80px
  background-color: $color-white;
  border-right: $border-bottom;
  box-shadow: $box-shadow;
  transition: left 0.3s ease;

  &__nav {
    padding: 0;
    @include flex(column, space-between, center, 15.75rem);

    &_top {
      margin-top: 0;
      padding-top: 0;
    }

    &_bottom {
      padding-bottom: $spacing-xxxs;
    }
  }

  &__list {
    list-style: none;
    @include flex(column, center, center, 0);
    height: 100%;
  }

  &__item {
    margin: 0.6875rem 0;
    flex: 0 0 auto; // Не увеличивать элемент
    width: 100%;
    @include flex(column, center, center, 0);

    &:hover {
      .desktop-menu__link {
        color: $color-primary; // Меняем цвет текста ссылки
        .desktop-menu__icon:not(.desktop-menu__logo) {
          // Исключаем desktop-menu__logo
          filter: invert(62%) sepia(90%) saturate(428%) hue-rotate(204deg)
            brightness(98%) contrast(93%); // Инвертируем цвет иконки для эффекта
        }
      }
    }
  }

  &__link {
    @include flex(column, center, center, 0);
    font-weight: $font-weight-medium;
    font-size: $font-size-link;
    line-height: 120%;
    color: $color-secondary;

    &--active {
      color: $color-primary;

      .desktop-menu__icon {
        filter: invert(62%) sepia(90%) saturate(428%) hue-rotate(204deg)
          brightness(98%) contrast(93%); // Инвертируем цвет иконки для эффекта
      }
    }
  }

  &__icon {
    @include icon(1.75rem); // 28px
    display: block;
    margin: auto;
    margin-bottom: 0.125rem;
  }

  &__logo {
    @include icon(2.625rem); // 42px
    display: block;
    border-radius: $border-radius/2;
  }

  .profile-icon {
    border-radius: $border-radius-circle;
    object-fit: contain;
  }
}

@media (min-width: $breakpoint-xxl) {
  /* 1920px */
  .desktop-menu__nav {
    gap: 35.25rem;
  }
}

@media (min-width: $breakpoint-xxxl) {
  /* 2560px */
  .desktop-menu__nav {
    gap: 57.75rem;
  }
}
