@import "../variables";
@import "../mixins";

.desktop-menu {
  @include fixed();
  @include flex(column, flex-start, center);
  max-width: 5rem; // 80px
  background-color: $color-white;
  border-right: $border-bottom;
  box-shadow: $box-shadow;
  transition: left 0.3s ease;

  &__nav {
    width: 100%;
    height: 100%;
    padding: 0;
    @include flex(column, space-between, center);

    &_top {
      width: 100%;
      margin-top: 0;
      padding-top: 0;
    }

    &_bottom {
      width: 100%;
      padding-bottom: $spacing-xxxs;
    }
  }

  &__list {
    width: 100%;
    list-style: none;
    @include flex(column, center, center);
  }

  &__item {
    width: 100%;
    margin: 0.6875rem 0;
    flex: 0 0 auto; // Не увеличивать элемент
    @include flex(column, center, center);
    transition: color 0.3s ease, filter 0.3s ease, transform 0.1s ease-in-out; // Добавляем плавный переход

    &:hover {
      .desktop-menu__link {
        color: $color-primary; // Меняем цвет текста ссылки
        .desktop-menu__icon:not(.profile-icon) {
          // Исключаем desktop-menu__logo
          filter: invert(62%) sepia(90%) saturate(428%) hue-rotate(204deg)
            brightness(98%) contrast(93%); // Инвертируем цвет иконки для эффекта
        }
      }
    }

    &:active {
      transform: scale(0.95); // Уменьшаем размер при нажатии
      transition: transform 0s; // Убираем transition при нажатии для мгновенного эффекта
    }
  }

  &__link {
    @include flex(column, center, center);
    font-weight: $font-weight-medium;
    font-size: $font-size-link;
    line-height: 120%;
    color: $color-secondary;

    &--active {
      color: $color-primary;

      .desktop-menu__icon:not(.profile-icon) {
        filter: invert(62%) sepia(90%) saturate(428%) hue-rotate(204deg)
          brightness(98%) contrast(93%);
      }
    }
  }

  &__icon {
    @include icon(1.75rem); // 28px
    display: block;
    margin: auto;
    margin-bottom: 0.125rem;
  }

  &__logo {
    @include icon(2.625rem); // 42px
    display: block;
    border-radius: $border-radius/2;
  }

  .profile-icon {
    border-radius: $border-radius-circle;
    object-fit: contain;
  }
}
