@import "../variables";
@import "../mixins";

.footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: $color-white;
  text-align: center;

  &__nav {
    padding: 0 $spacing-md;
  }

  &__list {
    list-style: none;
    @include flex(row, space-around, center, 0);
  }

  &__item {
    flex: 1;

    &:hover {
      .footer__link {
        color: $color-primary; // Меняем цвет текста ссылки
        .footer__icon:not(.profile-icon) {
          filter: invert(62%) sepia(90%) saturate(428%) hue-rotate(204deg)
            brightness(98%) contrast(93%); // Инвертируем цвет иконки для эффекта
        }
      }
    }
  }

  &__link {
    @include flex(column, center, center, 0);
    font-weight: $font-weight-medium;
    font-size: $font-size-link;
    line-height: 120%;
    color: $color-secondary;

    &--active {
      color: $color-primary;

      .footer__icon:not(.profile-icon) {
        filter: invert(62%) sepia(90%) saturate(428%) hue-rotate(204deg)
          brightness(98%) contrast(93%);
      }
    }
  }

  &__icon {
    @include icon(1.75rem); // 28px
    display: block;
    margin: auto;
    margin-bottom: 0.125rem;
  }
  .profile-icon {
    border-radius: $border-radius-circle;
    object-fit: contain;
  }

  &__line-button {
    padding: 0;
    height: $spacing-xxxs; // 5px;
    width: 8.5rem; // 136px
    border-radius: 0.125rem;
    margin: auto;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xs;
    background-color: $color-accent;
    &:active {
      background-color: $color-primary;
    }
  }
}

// Медиа-запросы
@media (min-width: $breakpoint-sm) {
  /* 744px */
  .footer {
    &__line-button {
      width: 19.75rem; // 316px
      margin-top: $spacing-md;
      margin-bottom: $spacing-xs;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  /* 1336px */
  .footer {
    display: none;
  }
}
