@import "../variables";
@import "../mixins";

.header {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;

  &__top {
    @include flex(row, space-between, center, 0);
    padding: $spacing-sm 0;
    &__title {
      font-weight: $font-weight-semibold;
      font-size: $font-size-subtitle;
    }
    &__filter-button {
      padding: $spacing-xs $spacing-sm;
      @include flex(row, center, center, 2px);
      flex-wrap: nowrap;
      border: none;
      background: none;
      cursor: pointer;

      &_text {
        display: none;
      }
    }
    &_icon {
      @include icon();
    }
    &_indicator {
      @include icon();
      border-radius: $border-radius-circle;
      background-color: $color-primary;
    }
    &_indicator-value {
      padding: 3px 2px;
      text-align: center;
      font-weight: $font-weight-medium;
      font-size: $font-size-tag;
      line-height: 117%;
      color: $color-white;
    }
  }

  &__sort {
    @include flex(row, center, center);
    flex-wrap: nowrap;
    width: 100%;
    position: relative; // Для позиционирования select__icon и select__chevron

    &_label {
      position: absolute;
      top: 50%;
      left: $spacing-xxs;
      color: $color-secondary;
      transition: all 0.3s ease;
      pointer-events: none;
      transform: translateY(-50%);
    }
    &_select {
      margin: $spacing-xxs 0;
      width: 100%;
      padding: $spacing-xs $spacing-xxxl;
      border: 0.5px solid #dddde3;
      border-radius: $border-radius;
      background-color: $color-white;
      color: $color-text-primary;
      cursor: pointer;
      &:focus {
        outline: none; /* Убираем рамку при фокусе */
        border-color: $color-primary; /* Меняем цвет границы при фокусе */
      }
    }

    &_icon {
      position: absolute;
      top: 50%;
      left: $spacing-xs;
      transform: translateY(-50%);
      pointer-events: none; /* Чтобы иконка не мешала кликам */
      img {
        @include icon();
      }
    }

    &_chevron {
      position: absolute;
      top: 50%;
      right: $spacing-sm;
      transform: translateY(-50%);
      pointer-events: none; /* Чтобы иконка не мешала кликам */
      img {
        @include icon();
      }
    }
  }

  /* Кастомный select */
  .selected-option {
    overflow: hidden;
    pointer-events: none;
    @include flex(row, space-between, center);
    transition: all 0.3s ease;
  }

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; /* Важно! */
    margin-top: $spacing-xs;
    border: 0.5px solid #ecedf0;
    border-top: none;
    border-radius: 0.75rem; // 12px
    box-shadow: 0 0 8px 0 rgba(30, 30, 36, 0.1),
      0 8px 16px 0 rgba(23, 23, 28, 0.05);
    background-color: $color-white;
    display: block;
    z-index: 10;

    &open {
      display: block;
    }
  }

  .option {
    padding: $spacing-xxxs 0;
    padding-left: 2.75;
    overflow: hidden;
    pointer-events: none;
    font-size: $font-size-base;
    line-height: 125%;
    @include flex(row, center, center);
    flex-wrap: nowrap;
    &:hover {
      color: $color-primary;
    }
  }
  /* Стили для иконок в option */
  .header__sort_option-icon {
    @include action-sheet-icon("/public/icons/option.svg");
  }

  .header__sort_option-icon--active {
    @include action-sheet-icon("/public/icons/option_selected.svg");
  }
}

// Медиа-запросы
@media (min-width: $breakpoint-sm) {
  .header {
    /* 744px */
    margin-top: $spacing-xxl;
    flex-direction: row;
    position: relative;

    &__top {
      flex-wrap: nowrap;
      white-space: nowrap;
      gap: $spacing-xs;

      &__title {
        line-height: 120%;
        font-size: $font-size-title;
      }
      &__filter-button {
        position: absolute;
        right: 0;

        &_text {
          display: inline;
          margin: 0 $spacing-xxs;
          font-weight: $font-weight-semibold;
          font-size: $font-size-item;
          letter-spacing: 0.01em;
          color: $color-primary;
        }
      }
    }

    &__sort {
      position: absolute;
      right: 10rem;
      max-width: 16rem;

      &_select {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; /*  многоточие  */
      }
    }

    &_label {
      left: $spacing-sm;
      overflow: hidden;
      text-overflow: ellipsis; /*  многоточие  */
    }

    &_chevron {
      right: $spacing-sm;
    }
  }
}

@media (min-width: $breakpoint-md) {
  /* 1024px */
}
