@import "../variables";
@import "../mixins";

.header {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;

  &__top {
    @include flex(row, space-between, center, 0);
    padding: $spacing-sm 0;
    &__title {
      font-weight: $font-weight-semibold;
      font-size: $font-size-subtitle;
    }
    &__filter-button {
      padding: $spacing-xs $spacing-sm;
      @include flex(row, center, center, 2px);
      flex-wrap: nowrap;
      border: none;
      background: none;
      cursor: pointer;

      &_text {
        display: none;
      }
    }
    &_icon {
      @include icon();
    }
    &_indicator {
      @include icon();
      border-radius: $border-radius-circle;
      background-color: $color-primary;
    }
    &_indicator-value {
      padding: 3px 2px;
      text-align: center;
      font-weight: $font-weight-medium;
      font-size: $font-size-tag;
      line-height: 117%;
      color: $color-white;
    }
  }

  &__sort {
    @include flex(row, center, center);
    flex-wrap: nowrap;
    width: 100%;
    position: relative; // Для позиционирования select__icon и select__chevron

    &_label {
      position: absolute;
      top: 50%;
      left: $spacing-xxs;
      color: $color-secondary;
      transition: all 0.3s ease;
      pointer-events: none;
      transform: translateY(-50%);
    }
    &:focus + &,
    &:valid + & {
      top: 0;
      padding: 0 $spacing-xxs;
      left: $spacing-xxs;
    }

    &_select {
      margin: $spacing-xxs 0;
      appearance: none; /* Убираем стандартные стили select */
      -webkit-appearance: none; /* Для Safari */
      -moz-appearance: none; /* Для Firefox */
      width: 100%;
      font-size: $font-size-base;
      line-height: 125%;
      padding: $spacing-xs $spacing-xxxl;
      border: 0.5px solid #dddde3;
      border-radius: $border-radius;
      background-color: $color-white;
      color: $color-text-primary;
      cursor: pointer;
      &:focus {
        outline: none; /* Убираем рамку при фокусе */
        border-color: $color-primary; /* Меняем цвет границы при фокусе */
      }
      option {
        appearance: none; /* Убираем стандартные стили select */
        -webkit-appearance: none; /* Для Safari */
        -moz-appearance: none; /* Для Firefox */
        position: relative;
        padding-left: 1rem;
        svg {
          transition: opacity 0.2s ease-in-out;
        }
        option:hover {
          color: $color-text-primary;
          &::before {
            background-image: url("/public/icons/multi-select.svg");
          }
        }

        option::before {
          content: "";
          @include action-sheet-icon("/public/icons/select.svg");
        }
      }
    }

    &_icon {
      position: absolute;
      top: 50%;
      left: $spacing-xs;
      transform: translateY(-50%);
      pointer-events: none; /* Чтобы иконка не мешала кликам */
      img {
        @include icon();
      }
    }

    &_chevron {
      position: absolute;
      top: 50%;
      right: $spacing-sm;
      transform: translateY(-50%);
      pointer-events: none; /* Чтобы иконка не мешала кликам */
      img {
        @include icon();
      }
    }
  }
}
// Медиа-запросы
@media (min-width: $breakpoint-sm) {
  .header {
    /* 744px */
    margin-top: $spacing-xxl;
    flex-direction: row;
    position: relative;

    &__top {
      flex-wrap: nowrap;
      white-space: nowrap;
      gap: $spacing-xs;

      &__title {
        line-height: 120%;
        font-size: $font-size-title;
      }
      &__filter-button {
        position: absolute;
        right: 0;

        &_text {
          display: inline;
          margin: 0 $spacing-xxs;
          font-weight: $font-weight-semibold;
          font-size: $font-size-item;
          letter-spacing: 0.01em;
          color: $color-primary;
        }
      }
    }

    &__sort {
      position: absolute;
      right: 10rem;
      max-width: 16rem;

      &_select {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; /*  многоточие  */
      }
    }

    &_label {
      left: $spacing-sm;
      overflow: hidden;
      text-overflow: ellipsis; /*  многоточие  */
    }

    &_chevron {
      right: $spacing-sm;
    }
  }
}

@media (min-width: $breakpoint-md) {
  /* 1024px */
}
