@import "../variables";
@import "../mixins";

.header {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;

  &__top {
    @include flex(row, space-between, center, 0);
    padding: $spacing-sm 0;
    &__title {
      font-weight: $font-weight-semibold;
      font-size: $font-size-subtitle;
    }
    &__filter-button {
      padding: $spacing-xs $spacing-sm;
      @include flex(row, center, center, 2px);
      flex-wrap: nowrap;
      border: none;
      background: none;
      cursor: pointer;

      &_text {
        display: none;
      }
    }
    &_icon {
      @include icon();
    }
    &_indicator {
      @include icon();
      border-radius: $border-radius-circle;
      background-color: $color-primary;
    }
    &_indicator-value {
      padding: 3px 2px;
      text-align: center;
      font-weight: $font-weight-medium;
      font-size: $font-size-tag;
      line-height: 117%;
      color: $color-white;
    }
  }

  &__sort {
    @include flex(row, center, center);
    flex-wrap: nowrap;
    width: 100%;
    position: relative; // Для позиционирования select__icon и select__chevron

    &_label {
      position: absolute;
      top: 50%;
      left: $spacing-xxs;
      color: $color-secondary;
      transition: all 0.3s ease;
      pointer-events: none;
      transform: translateY(-50%);
    }
    &_select {
      margin: $spacing-xxs 0;
      width: 100%;
      padding: $spacing-xs $spacing-xxxl;
      border: 0.5px solid $color-border;
      border-radius: $border-radius;
      background-color: $color-white;
      color: $color-text-primary;
      cursor: pointer;
      &:hover {
        border-color: $color-primary;
      }
    }

    &_icon {
      position: absolute;
      top: 50%;
      left: $spacing-xs;
      transform: translateY(-50%);
      pointer-events: none; /* Чтобы иконка не мешала кликам */
      img {
        @include icon();
      }
    }

    &_chevron {
      position: absolute;
      top: 50%;
      right: $spacing-sm;
      transform: translateY(-50%);
      pointer-events: none; /* Чтобы иконка не мешала кликам */
      transition: transform 0.2s ease;
      img {
        @include icon();
      }
      &.rotate {
        transform: translateY(-50%) rotate(180deg); // Вращение иконки
      }
    }

    /* Стили для иконок в option */
    &_option-icon {
      margin-top: $spacing-xl;
      @include sort-option-icon("/public/icons/option.svg");
    }

    .active {
      margin-top: $spacing-xl;
      @include sort-option-icon("/public/icons/option_selected.svg");
    }
  }
  /* Кастомный select */
  .selected-option {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
  }

  // Стили для обертки
  .options__wrapper {
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    @include flex(column, center, center);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: transparent;
    pointer-events: none;

    &.open {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }

    // Стили для мобильного отображения (модальное окно)
    &--mobile {
      background-color: $background; // Добавляем затемнение
      @include flex(column, flex-end, center);

      .header__sort_option-icon {
        margin-top: $spacing-lg;
      }
      .active {
        margin-top: $spacing-lg;
      }
      .options__wrapper_cancel {
        display: block;
      }
    }

    .options {
      position: fixed;
      margin: 0 $spacing-xs 2.75rem $spacing-xs;
      padding: 0 $spacing-xxxs;
      border: 0.5px solid #ecedf0;
      border-radius: 0.75rem;
      box-shadow: $box-shadow;
      background-color: $color-white;
      overflow: hidden;
      @include flex(column, flex-start, flex-start);
      flex-wrap: nowrap;

      .option {
        @include flex(row, flex-start, center);
        flex-wrap: nowrap;
        padding: 0.625rem $spacing-xs 0.625rem 0;
        margin-left: 2.75rem;
        font-size: $font-size-base;
        line-height: 125%;
        text-align: left;
        &:hover {
          color: $color-primary;
        }
        .header__sort_option-icon {
          box-sizing: border-box;
          @include icon(); // 20px
        }
      }
    }

    &_cancel {
      @include close-options-button();
    }
  }
}

// Медиа-запросы
@media (min-width: $breakpoint-sm) {
  /* 744px */

  .header__sort {
    position: relative;

    .options__wrapper {
      position: static;
      background-color: $color-white;

      .options {
        position: absolute;
        top: 100%; /* Располагаем под элементом header__sort */
        left: 0;
        width: 98%;
        margin: 0;
        margin-top: $spacing-xs;
        border-bottom-right-radius: 0.75rem;
        border-bottom-left-radius: 0.75rem;
        border-top: none;
      }

      &--mobile {
        // Убираем стили для мобильных устройств на desktop
        background-color: transparent;
      }
    }
  }
}
