@import "../variables";
@import "../mixins";

// Медиа-запросы

@media (min-width: $breakpoint-sm) {
  /* 744px */
  .main__top {
    border-bottom: $border-bottom;
    padding-bottom: $spacing-xs;
  }
}

@media (min-width: $breakpoint-md) {
  /* 1024px */
  .main__top {
    max-height: 20.875rem; // 334px
    padding: $spacing-md;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;

    .builder {
      &__logo {
        flex-shrink: 0; // Предотвращает сжатие элементов при нехватке места
      }

      .scroll-container {
        max-height: 10.5rem; // 168px
        width: 100%;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden; // Отключает вертикальную прокрутку
        scroll-snap-type: x mandatory; // Делает прокрутку удобнее

        /* Стилизация полосы прокрутки с помощью псевдоэлементов */

        // Целиком полоса прокрутки
        ::-webkit-scrollbar {
          margin-left: $spacing-xxxs;
          height: 100%;
          width: $spacing-sm;
          padding: $spacing-sm $spacing-xxs $spacing-sm 0;
        }

        // "Дорожка" полосы прокрутки (фон)
        ::-webkit-scrollbar-track {
          background: $color-white;
          border-radius: $border-radius;
        }

        // "Бегунок" полосы прокрутки
        ::-webkit-scrollbar-thumb {
          border-radius: $border-radius;
          width: $spacing-xxs;
          height: 4.75rem; // 76px
          background-color: rgba(183, 184, 195, 0.6);
        }

        // "Бегунок" при наведении курсора
        ::-webkit-scrollbar-thumb:hover {
          box-shadow: $box-shadow;
        }

        // Стили для активного состояния
        ::-webkit-scrollbar-thumb:active {
          background-color: $color-primary;
          box-shadow: $box-shadow;
        }

        // Кнопки управления
        ::-webkit-scrollbar-button {
          display: none;
        }

        /*  Угол в месте пересечения вертикальной и горизонтальной прокруток */
        ::-webkit-scrollbar-corner {
          display: none;
        }
      }
    }
  }
}
