@import "../variables";
@import "../mixins";

.multiple-select {
  @include flex(row, space-between, center);
  padding: $spacing-sm 0;

  &__header {
    @include flex(row, space-between, center, $spacing-xs);
    &_title,
    &_count {
      font-weight: $font-weight-semibold;
      font-size: $font-size-subtitle;
    }
  }

  &__buttons {
    @include flex(row, space-between, center);
    flex-wrap: nowrap;

    button {
      display: none;
      margin: 0;
      padding: 0;
      border-radius: $border-radius;
      padding: $spacing-xs $spacing-sm;
    }

    svg {
      @include icon();
    }
  }
}

// Медиа-запросы
@media (min-width: $breakpoint-md) {
  /* 1024px */
  .multiple-select {
    &__buttons {
      button {
        display: flex;
      }
    }
  }
}
