@import "../variables";
@import "../mixins";

.multiple-select {
  @include flex(row, space-between, center);
  flex-wrap: nowrap;
  padding: $spacing-sm 0;
  display: none;

  &__header {
    @include flex(row, space-between, center, $spacing-xs);
    &_title,
    &_count {
      font-weight: $font-weight-semibold;
      font-size: $font-size-subtitle;
    }
  }

  &__buttons {
    @include flex(row, space-between, center);
    flex-wrap: nowrap;

    button {
      margin: 0;
      padding: 0;
      display: none;
      border-radius: $border-radius;
    }

    svg {
      @include icon();
    }
  }
}

// Медиа-запросы
@media (min-width: $breakpoint-sm) {
  /* 744px */
  .multiple-select {
    &__header {
      &_title,
      &_count {
        font-size: $font-size-title;
        line-height: 120%;
      }
    }
    &__buttons {
      button {
        padding: $spacing-xs $spacing-sm;
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  /* 1024px */
  .multiple-select__buttons {
    button {
      display: flex;
    }
  }
}
