@import "../variables";
@import "../mixins";

.objects {
  // Общие стили для секции objects
  &__grid {
    display: grid;
    grid-template-columns: 1fr; /* 1 колонка по умолчанию */
    gap: $spacing-md;

    @media (min-width: $breakpoint-sm) {
      /* 744px */
      grid-template-columns: repeat(2, 1fr); /* 2 колонки */
    }

    @media (min-width: $breakpoint-md) {
      /* 1024px */
      grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    }

    @media (min-width: $breakpoint-xxxl) {
      /* 2560px */
      grid-template-columns: repeat(7, 1fr); /* 7 колонок */
    }
  }

  &__card {
    border-radius: 0.75rem; // 12px
    padding: $spacing-xs $spacing-md $spacing-sm $spacing-md;
    background-color: $color-white;
    box-shadow: 0 0 8px 0 rgba(30, 30, 36, 0.1);
    position: relative; // Для позиционирования кнопки "избранное"

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(23, 23, 28, 0.05); // Усиление тени при наведении
      transition: box-shadow 0.3s ease; // Плавный переход тени
    }
  }

  &__card-header {
    @include flex(row, space-between, flex-start);
    margin-top: $spacing-sm;
    margin-left: $spacing-md;
  }

  &__card-info {
    text-align: left;
  }

  &__card-square {
    font-weight: $font-weight-semibold;
    font-size: $font-size-title;
    line-height: 120%;
  }

  &__card-number {
    margin-top: $spacing-xxxs;
    color: $color-secondary;
  }

  &__card-options {
    @include icon(3rem); // 48px
    @include flex(row, center, center);
    border: none;
    background: none;
    cursor: pointer;
  }

  &__card-image {
    place-items: center;
    min-height: 11.9375rem; // 183px

    img {
      display: block;
      width: auto;
      height: 9.4375rem; // 151px
      padding: $spacing-xs;
      border-radius: $border-radius $border-radius 0 0; // Скругляем только верхние углы
      object-fit: cover; //  Чтобы изображение не растягивалось
      aspect-ratio: 1 / 1; // Сохраняем пропорции 1:1
    }
  }

  &__card-content {
    padding: $spacing-xl $spacing-md $spacing-sm $spacing-md;
    text-align: left;
  }

  &__card-price {
    font-weight: $font-weight-semibold;
    font-size: $font-size-largetitle;
    line-height: 117%;
  }

  &__card-price-per-meter {
    margin-top: $spacing-xxxs;
    color: $color-secondary;
  }

  &__card-address {
    margin-top: $spacing-sm;
    color: $color-text-primary;
  }

  &__card-developer {
    margin-top: $spacing-lg;
    img {
      height: 3rem;
      width: auto;
    }
  }

  &__card-favorite {
    display: none;
    position: absolute;
    z-index: 5;
    right: $spacing-md;
    bottom: $spacing-xl;
    @include flex(row, center, center);
    @include icon(3rem);
    border-radius: $border-radius-circle;
    background-color: $color-primary;
    border: none;
    &svg {
      @include icon(1.5rem); // 24px
    }

    &--active {
      display: block;
    }
  }
  &__card-pagination {
    @include flex(row, center, center, $spacing-xs);
    margin-top: $spacing-md;
  }

  &__card-pagination-dot {
    @include icon(0.5rem);
    border-radius: $border-radius-circle;
    background-color: $color-grey;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:first-child {
      opacity: 1;
      background-color: $color-primary;
    }

    &--active {
      opacity: 1;
      background-color: $color-primary;
    }

    &:hover {
      opacity: 1;
    }
    &:active {
      background-color: $color-primary;
    }
  }
}
