@import "../variables";
@import "../mixins";

.show-more {
  padding: $spacing-md;
  padding-bottom: 6.5rem;
  @include flex(row, center, center);

  &__button {
    display: flex;
    font-weight: $font-weight-medium;
    font-size: $font-size-base;
    line-height: 125%;
    text-align: center;
    color: $color-white;
    padding: $spacing-sm $spacing-lg;
    border: none;
    border-radius: $border-radius;
    background-color: $color-primary;
  }
}

@media (min-width: $breakpoint-lg) {
  /* 1336px */
  .show-more {
    padding-bottom: $spacing-xl;
  }
}
