@import "../variables";
@import "../mixins";

.sort {
  position: relative; // Для позиционирования select__icon и select__chevron
  width: 90%;
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
}

.select {
  appearance: none; /* Убираем стандартные стили select */
  -webkit-appearance: none; /* Для Safari */
  -moz-appearance: none; /* Для Firefox */

  width: 100%;
  padding: $spacing-xs $spacing-xxl; /* Добавляем отступы для текста */
  border: 1px solid $color-grey; /* Пример границы */
  border-radius: $border-radius; /* Пример скругления */
  background-color: $color-white;
  color: $color-text-primary;
  cursor: pointer; // Добавляем курсор

  &:focus {
    outline: none; /* Убираем рамку при фокусе */
    border-color: $color-primary; /* Меняем цвет границы при фокусе */
  }
}

.sort__label {
  position: absolute;
  top: 50%;
  left: $spacing-xxs;
  color: $color-secondary;
  transition: all 0.3s ease;
  pointer-events: none;
  transform: translateY(-50%);

  .select:focus + &,
  .select:valid + & {
    top: 0;
    padding: 0 $spacing-xxs;
    left: $spacing-xxs;
  }
}

.select__icon {
  position: absolute;
  top: 50%;
  left: $spacing-sm;
  transform: translateY(-50%);
  pointer-events: none; /* Чтобы иконка не мешала кликам */
  img {
    @include icon();
  }
}

.select__chevron {
  position: absolute;
  top: 50%;
  right: $spacing-sm;
  transform: translateY(-50%);
  pointer-events: none; /* Чтобы иконка не мешала кликам */
  img {
    @include icon();
  }
}
