@import "../variables";
@import "../mixins";

.status-bar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include flex(row, space-between, center);
  padding: $spacing-lg $spacing-xxl;
  background-color: $color-white;
  transition: background-color 0.3s ease; // Плавное изменение

  &__time {
    margin-left: $spacing-lg;
    text-align: left;
    font-size: $font-size-title;
    font-weight: $font-weight-semibold;
    color: $color-accent;
    transition: color 0.3s ease;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 0.3125rem; // 5px
    svg {
      width: auto; // Сохранять пропорции
      height: 0.8125rem; // 13px
      fill: $color-accent; // Цвет иконок по умолчанию
      transition: fill 0.3s ease;
    }
  }

  &__battery {
    width: 1.8125rem; // 29px
    height: 0.8125rem; // 13px
    background-image: url("/public/icons/battery.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;

    &-level {
      z-index: 15;
      position: absolute;
      overflow: hidden;
      bottom: 0;
      left: 0;
      height: 0.5rem;
      max-width: 1.4rem;
      margin: 2.2px 4.5px 2.05px 2.1px;
      background-color: $color-accent;
      border-radius: 2px;
      transition: width 0.3s ease, background-color 0.3s ease;
    }
  }

  // Стили для мобильного отображения (модальное окно)
  &--mobile {
    background-color: rgba(23, 23, 28, 0.01);

    .status-bar {
      &__time {
        color: $color-white;
      }

      &__icons {
        svg {
          fill: $color-white;
        }
      }

      &__battery-level {
        background-color: $color-white;
      }
    }
  }
}

@media (min-width: $breakpoint-sm) {
  /* 744px */
  .status-bar {
    padding: $spacing-xxs $spacing-md;

    &__time {
      margin-left: 0;
      font-size: $font-size-item;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  /* 1366px */
  .status-bar {
    display: none;
  }
}
