@import "../variables";
@import "../mixins";

.status-bar {
  z-index: 11;
  @include flex(row, space-between, center);
  padding: 1.25rem 2rem;

  &__time {
    margin-left: 1.25rem;
    font-size: $font-size-title;
    font-weight: $font-weight-semibold;
    color: $color-accent;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 0.3125rem; // 5px
  }

  &__signal,
  &__wifi,
  &__battery {
    width: auto; // позволяет им сохранять свои пропорции
    height: 0.8125rem; // 13px
  }

  &__battery {
    width: 1.8125rem; // 29px
    height: 0.8125rem; // 13px
    background-image: url("/public/icons/battery.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
  }

  &__battery-level {
    position: absolute;
    overflow: hidden;
    bottom: 1px;
    left: 1px;
    height: 90%;
    width: 90%;
    margin: 2.3px 4.5px 2.3px 2.1px;
    background-color: $color-accent; /* цвета заряда */
    border-radius: 2px; /* Чтобы не вылезал за рамки */
    transition: width 0.3s ease; /* Плавное изменение уровня */
  }
}

// Изменения для status-bar
.status-bar {
  &__time,
  &__signal,
  &__wifi,
  &__battery {
    color: initial; /* Возвращаем к исходному цвету */
  }

  &__signal,
  &__wifi {
    img svg {
      fill: initial;
    }
  }

  &__battery {
    img svg {
      color: initial;
    }
  }

  &__battery-level {
    background-color: initial;
  }
}

.action-sheet--active {
  .status-bar {
    &__time,
    &__signal,
    &__wifi,
    &__battery {
      color: $color-white; /* Меняем цвет на белый */
    }

    &__signal,
    &__wifi {
      img svg {
        fill: $color-white;
      }
    }

    &__battery {
      img {
        color: $color-white;
      }
    }

    &__battery-level {
      background-color: $color-white;
    }
  }
}
