@import "./variables";

// Миксин для выравнивания элементов по центру
@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: wrap;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

// Миксин для размеров иконок
@mixin icon($size: 20px) {
  width: $size;
  height: $size;
}

// Миксин для скрытия элемента
@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
}

// Миксин для стилизации иконок в 'action-sheet'
@mixin action-sheet-icon($icon-url) {
  background-image: url($icon-url);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: $spacing-md;
  top: 50%;
  transform: translateY(-50%);
  @include icon(1.5rem); // Размер иконки
}

// Миксин для стилизации иконок в 'header__sort_option-icon'
@mixin sort-option-icon($icon-url) {
  background-image: url($icon-url);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: $spacing-sm;
  transform: translateY(-50%);
  @include icon(1.25rem); // 20px
}

// Миксин для стилизации кнопки Отмены для Dropdown
@mixin close-options-button() {
  margin-top: $spacing-xl;
  margin-bottom: $spacing-xs;
  height: $spacing-xxxs;
  min-width: 8.7rem;
  border-radius: 0.125rem;
  background-color: $color-white;
  cursor: pointer;
  display: none;

  &:hover {
    background-color: darken($color-white, 5%);
  }
}
