$font-family: "Inter", sans-serif;
$font-size-base: 16px; // Высота строки

// Размеры заголовков
$font-size-largetitle: 1.5rem; // 24px
$font-size-title: 1.25rem; // 20px
$font-size-subtitle: 1.0625rem; // 17px
$font-size-item: 0.875rem; // 14px
$font-size-tag: 0.75rem; // 12px
$font-size-link: 0.625rem; // 10px

// Толщина шрифта
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

// Основные цвета
$color-primary: #6f77fe;
$color-secondary: #9596a7;
$color-white: #fff;
$color-black: #000;
$color-green: #25a25f;
$color-red: #f25a50;
$color-grey: #b7b8c3;
$color-accent: #3c3d48;
$color-border: #dddde3;

// Цвета текста
$color-text-primary: #1e1e24;
$color-text-secondary: #777777;
$color-text-link: $color-primary; // Цвет ссылок
$color-text-link-hover: darken(
  $color-primary,
  10%
); // Цвет ссылок при наведении

// Универсальные отступы
$spacing-xxxs: 0.25rem; // 4px
$spacing-xxs: 0.375rem; // 6px
$spacing-xs: 0.5rem; // 8px
$spacing-sm: 0.75rem; // 12px
$spacing-md: 1rem; // 16px
$spacing-lg: 1.25rem; // 20px
$spacing-xl: 1.5rem; // 24px
$spacing-xxl: 2rem; // 32px
$spacing-xxxl: 2.25rem; // 36px

// Нижняя граница
$border-bottom: 1px solid #ecedf0;

// Скругления
$border-radius-small: 6px;
$border-radius: 8px;
$border-radius-medium: 16px;
$border-radius-circle: 50%;

// Тени
$box-shadow: 0 0 8px 0 rgba(30, 30, 36, 0.1),
  0 8px 16px 0 rgba(23, 23, 28, 0.05);

// Затемнение
$background: rgba(23, 23, 28, 0.5);

// opacity
$enabled: 0.8;

// Медиа-запросы (Breakpoints)
$breakpoint-xs: 320px;
$breakpoint-sm: 744px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1336px;
$breakpoint-xl: 1536px;
$breakpoint-xxl: 1920px;
$breakpoint-xxxl: 2560px;
