@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
.status-bar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 1.25rem 2rem;
  background-color: #fff;
  transition: background-color 0.3s ease;
}
.status-bar__time {
  margin-left: 1.25rem;
  text-align: left;
  font-size: 1.25rem;
  font-weight: 600;
  color: #3c3d48;
  transition: color 0.3s ease;
}
.status-bar__icons {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.status-bar__icons svg {
  width: auto;
  height: 0.8125rem;
  fill: #3c3d48;
  transition: fill 0.3s ease;
}
.status-bar__battery {
  width: 1.8125rem;
  height: 0.8125rem;
  background-image: url("/public/icons/battery.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  overflow: hidden;
}
.status-bar__battery-level {
  z-index: 15;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  max-width: 1.4rem;
  margin: 2.2px 4.5px 2.05px 2.1px;
  background-color: #3c3d48;
  border-radius: 2px;
  transition: width 0.3s ease, background-color 0.3s ease;
}
.status-bar--mobile {
  background-color: rgba(0, 0, 0, 0.25);
}
.status-bar--mobile .status-bar__time {
  color: #fff;
}
.status-bar--mobile .status-bar__icons svg {
  fill: #fff;
}
.status-bar--mobile .status-bar__battery-level {
  background-color: #fff !important;
}

@media (min-width: 744px) {
  /* 744px */
  .status-bar {
    padding: 0.375rem 1rem;
  }
  .status-bar__time {
    margin-left: 0;
    font-size: 0.875rem;
  }
}
@media (min-width: 1366px) {
  /* 1366px */
  .status-bar {
    display: none;
  }
}
.header {
  margin-top: 3.5rem;
  display: flex;
  border-bottom: 1px solid #ecedf0;
  /* Кастомный select */
}
.header__top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 0.75rem 0;
}
.header__top__title {
  font-weight: 600;
  font-size: 1.0625rem;
}
.header__top__filter-button {
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2px;
  flex-wrap: nowrap;
  border: none;
  background: none;
  cursor: pointer;
}
.header__top__filter-button_text {
  display: none;
}
.header__top_icon {
  width: 20px;
  height: 20px;
}
.header__top_indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #6f77fe;
}
.header__top_indicator-value {
  padding: 0.1875rem 0.125rem;
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 117%;
  color: #fff;
}
.header__sort {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  position: relative;
  /* Стили для иконок в option */
}
.header__sort_label {
  position: absolute;
  top: calc(50% + 0.125rem);
  left: 0.75rem;
  color: #9596a7;
  transition: all 0.3s ease;
  pointer-events: none;
  transform: translateY(-50%);
}
.header__sort_label_icon img {
  width: 20px;
  height: 20px;
}
.header__sort_select {
  width: 100%;
  margin: 0.375rem 0;
  padding: 0.5rem 2.25rem;
  border: 0.5px solid #dddde3;
  border-radius: 8px;
  background-color: #fff;
  color: #1e1e24;
  cursor: pointer;
}
.header__sort_select:hover {
  border-color: #6f77fe;
}
.header__sort_chevron {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none; /* Чтобы иконка не мешала кликам */
  transition: transform 0.2s ease;
}
.header__sort_chevron img {
  width: 20px;
  height: 20px;
}
.header__sort_chevron.rotate {
  transform: translateY(-50%) rotate(180deg);
}
.header__sort_option-icon {
  margin-top: 1.5rem;
  background-image: url("/public/icons/option.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0.75rem;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
}
.header__sort .active {
  margin-top: 1.5rem;
  background-image: url("/public/icons/option_selected.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0.75rem;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
}
.header .selected-option {
  max-height: 2.25rem;
  line-height: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease;
}
.header .options__wrapper {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: transparent;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.header .options__wrapper.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.header .options__wrapper--mobile {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0;
}
.header .options__wrapper--mobile .header__sort_option-icon {
  margin-top: 1.25rem;
}
.header .options__wrapper--mobile .active {
  margin-top: 1.25rem;
}
.header .options__wrapper .options {
  position: fixed;
  margin: 0 0.5rem 2.75rem 0.5rem;
  padding: 0 0.25rem;
  border: 0.5px solid #dddde3;
  border-radius: 0.75rem;
  box-shadow: 0 0 8px 0 rgba(30, 30, 36, 0.1), 0 8px 16px 0 rgba(23, 23, 28, 0.05);
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}
.header .options__wrapper .options .option {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  flex-wrap: nowrap;
  padding: 0.625rem 0.5rem 0.625rem 0;
  margin-left: 2.75rem;
  font-size: 16px;
  line-height: 125%;
  text-align: left;
}
.header .options__wrapper .options .option:hover {
  color: #6f77fe;
}
.header .options__wrapper .options .option .header__sort_option-icon {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.header .options__wrapper_сancel-button {
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  height: 0.25rem;
  min-width: 8.7rem;
  border-radius: 0.125rem;
  background-color: #fff;
}
.header .options__wrapper_сancel-button:hover {
  background-color: #f2f2f2;
}

@media (min-width: 320px) {
  /* 320px */
  .header {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (min-width: 744px) {
  /* 744px */
  .header {
    margin-top: 2rem;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    /* Кастомный select */
  }
  .header__top {
    gap: 0.5rem;
  }
  .header__top__title {
    line-height: 120%;
    font-size: 1.25rem;
  }
  .header__top__filter-button {
    position: absolute;
    right: 0;
  }
  .header__top__filter-button_text {
    display: inline;
    margin: 0 0.375rem;
    font-weight: 600;
    font-size: 0.875rem;
    letter-spacing: 0.01em;
    color: #6f77fe;
  }
  .header__sort {
    white-space: nowrap;
    width: 16rem;
    max-height: 2.25rem;
    position: absolute;
    right: 10rem;
  }
  .header__sort_select {
    overflow: hidden;
    text-overflow: ellipsis; /*  многоточие  */
  }
  .header_label {
    left: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis; /*  многоточие  */
  }
  .header .selected-option {
    max-height: 2.25rem;
    line-height: 100%;
  }
  .header .options__wrapper {
    position: static;
    background-color: #fff;
  }
  .header .options__wrapper .options {
    position: absolute;
    top: 100%; /* Располагаем под элементом header__sort */
    left: 0;
    margin: 0;
    margin-top: 0.5rem;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    border-top: none;
  }
  .header .options__wrapper .options .option {
    line-height: 100%;
    white-space: wrap;
  }
  .header .options__wrapper--mobile {
    background-color: transparent;
  }
}
@media (min-width: 1024px) {
  /* 1024px */
  .header .options__wrapper_сancel-button {
    display: none;
  }
}
@media (min-width: 1366px) {
  /* 1336px */
  .header {
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
  }
}
.search {
  padding: 1rem 0.5rem;
}
.search fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.search__title {
  margin-top: 0;
  font-weight: 600;
  font-size: 1.0625rem;
  text-align: left;
  margin-bottom: 1.5rem;
}
.search__label {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #9596a7;
  text-align: left;
  margin-bottom: 0.375rem;
}
.search__label_span {
  color: #f25a50;
}
.search__input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: 0.5px solid #dddde3;
  border-radius: 8px;
  color: #1e1e24;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}
.search__input:focus {
  border-color: #6f77fe;
}
.search__input::-moz-placeholder {
  color: #9596a7;
}
.search__input::placeholder {
  color: #9596a7;
}
.search__button {
  margin-top: 0.75rem;
  width: 100%;
  display: block;
}

@media (min-width: 1024px) {
  /* 1024px */
  .search {
    min-width: 16rem;
    border-radius: 0.75rem;
    padding: 0 0 0.5rem 0;
  }
  .search__title {
    padding: 1.125rem 1rem 0.625rem 1rem;
  }
  .search__label {
    min-width: 256px;
  }
  .search__button {
    width: 100%;
  }
}
.builder {
  margin-top: 2rem;
}
.builder__title {
  padding: 0 0.5rem;
  text-align: left;
  font-weight: 600;
  font-size: 1.0625rem;
}
.builder__statuses {
  margin: 1rem 0 1rem 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* Чтобы элементы переносились на новую строку */
  gap: 0.25rem;
}
.builder__status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.375rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 117%;
  letter-spacing: 0em;
  border: 0.5px solid #dddde3;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
}
.builder__status-icon {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block; /* Чтобы можно было задавать размеры */
}
.builder__status-icon--selected {
  border: 2px solid #6f77fe; /* Цвет для "Выбрано" */
}
.builder__status-icon--available {
  background-color: #25a25f; /* Цвет для "Доступно" */
}
.builder__status-icon--not-unique {
  background-color: #f25a50; /* Цвет для "Не уникальный клиент" */
}
.builder__status-icon--no-objects {
  background-color: #b7b8c3; /* Цвет для "Нет объектов" */
}
.builder__container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.builder__logo-link {
  display: block; /* Чтобы ссылка занимала всю площадь логотипа */
}
.builder__logo {
  max-height: 3rem;
  min-width: 5.625rem;
  padding: 0.75rem;
  -o-object-fit: contain;
     object-fit: contain;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(30, 30, 36, 0.1);
}
.builder__logo svg {
  height: 1.5rem;
  width: auto;
}
.builder__logo:hover {
  border: 2px solid #dddde3;
  box-shadow: 0 8px 16px 0 rgba(23, 23, 28, 0.05);
}
.builder__logo:active {
  border: 2px solid #6f77fe;
  box-shadow: 0 8px 16px 0 rgba(23, 23, 28, 0.05);
}
.builder .active {
  border: 2px solid #6f77fe;
}

@media (min-width: 1024px) {
  /* 1024px */
  .builder {
    max-width: 38.5rem;
    margin-top: 1rem;
    border-radius: 0.75rem;
    padding: 0 0 0.5rem 0;
  }
  .builder__title {
    padding: 0;
  }
  .builder__statuses {
    border-bottom: 1px solid #ecedf0;
  }
  .builder__logo {
    height: 4rem;
    min-width: 7.5rem;
  }
}
.objects-filter {
  padding: 1rem;
}
.objects-filter__count {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 0.5rem;
  text-align: left;
}
.objects-filter__tags {
  display: flex;
  flex-grow: 1; /* Текст занимает все доступное место */
  overflow: hidden; /* Скрываем лишний текст */
  white-space: nowrap; /* Запрещаем перенос строки */
  gap: 0.25rem;
  text-align: left;
}
.objects-filter__tag {
  background-color: #fff;
  color: #3c3d48;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 117%;
  border: 0.5px solid #dddde3;
  border-radius: 6px;
  padding: 0.375rem;
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  cursor: pointer;
}
.objects-filter__tag:focus {
  border-color: #6f77fe;
}
.objects-filter__tag::-moz-placeholder {
  color: #b7b8c3;
}
.objects-filter__tag::placeholder {
  color: #b7b8c3;
}
.objects-filter__tag-close {
  width: 0.625rem;
  height: 0.625rem;
  cursor: pointer;
}
.objects-filter__tag-close:hover {
  fill: #7f8195;
}

.objects__grid {
  display: grid;
  grid-template-columns: 1fr; /* 1 колонка по умолчанию */
  gap: 1rem;
}
@media (min-width: 744px) {
  .objects__grid {
    /* 744px */
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  }
}
@media (min-width: 1024px) {
  .objects__grid {
    /* 1024px */
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  }
}
@media (min-width: 2560px) {
  .objects__grid {
    /* 2560px */
    grid-template-columns: repeat(7, 1fr); /* 7 колонок */
  }
}
.objects__card {
  border-radius: 0.75rem;
  padding: 0.5rem 1rem 0.75rem 1rem;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(30, 30, 36, 0.1);
  position: relative;
}
.objects__card:hover {
  box-shadow: 0 8px 16px 0 rgba(23, 23, 28, 0.05);
  transition: box-shadow 0.3s ease;
}
.objects__card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0;
  margin-top: 0.75rem;
  margin-left: 1rem;
}
.objects__card-info {
  text-align: left;
}
.objects__card-square {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
}
.objects__card-number {
  margin-top: 0.25rem;
  color: #9596a7;
}
.objects__card-options {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.objects__card-image {
  place-items: center;
  min-height: 11.9375rem;
}
.objects__card-image img {
  display: block;
  width: auto;
  height: 9.4375rem;
  padding: 0.5rem;
  border-radius: 8px 8px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
.objects__card-content {
  padding: 1.5rem 1rem 0.75rem 1rem;
  text-align: left;
}
.objects__card-price {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 117%;
}
.objects__card-price-per-meter {
  margin-top: 0.25rem;
  color: #9596a7;
}
.objects__card-address {
  margin-top: 0.75rem;
  color: #1e1e24;
}
.objects__card-developer {
  margin-top: 1.25rem;
}
.objects__card-developer img {
  height: 3rem;
  width: auto;
}
.objects__card-favorite {
  display: none;
  position: absolute;
  z-index: 5;
  right: 1rem;
  bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #6f77fe;
  border: none;
}
.objects__card-favoritesvg {
  width: 1.5rem;
  height: 1.5rem;
}
.objects__card-favorite--active {
  display: block;
}
.objects__card-pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.objects__card-pagination-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #b7b8c3;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.objects__card-pagination-dot:first-child {
  opacity: 1;
  background-color: #6f77fe;
}
.objects__card-pagination-dot--active {
  opacity: 1;
  background-color: #6f77fe;
}
.objects__card-pagination-dot:hover {
  opacity: 1;
}
.objects__card-pagination-dot:active {
  background-color: #6f77fe;
}

.action-sheet {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: transparent;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.action-sheet--active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.action-sheet--mobile {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0;
}
.action-sheet__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  padding-bottom: 0.5rem;
  border: 0.5px solid #ecedf0;
  border-radius: 0.75rem;
  box-shadow: 0 0 8px 0 rgba(30, 30, 36, 0.1), 0 8px 16px 0 rgba(23, 23, 28, 0.05);
  background-color: #fff;
}
.action-sheet__header {
  margin-top: 0.5rem;
  padding: 0.875rem 1rem;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: #9596a7;
  width: 100%;
  box-sizing: border-box;
}
.action-sheet__header_price {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 117%;
  letter-spacing: 0em;
  color: #b7b8c3;
}
.action-sheet__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.875rem 1rem;
  position: relative;
  padding-left: 3rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #1e1e24;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.action-sheet__item:hover {
  color: #6f77fe;
}
.action-sheet__item:active {
  color: #3c47fe;
}
.action-sheet__item svg {
  transition: opacity 0.2s ease-in-out;
}
.action-sheet__item_selections {
  background-image: url("/public/icons/select.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}
.action-sheet__item:hover .action-sheet__item_selections {
  background-image: url("/public/icons/multi-select.svg");
}
.action-sheet__item_additions {
  background-image: url("/public/icons/add_favorite.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}
.action-sheet__item_additions--active {
  background-image: url("/public/icons/favorite_added.svg");
}
.action-sheet__item:hover .action-sheet__item_additions {
  background-image: url("/public/icons/favorite_added.svg");
}
.action-sheet__item_collections {
  background-image: url("/public/icons/add_collection.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}
.action-sheet__item:hover .action-sheet__item_collections {
  background-image: url("/public/icons/collection_added.svg");
}
.action-sheet__item_fixies {
  background-image: url("/public/icons/unlock.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}
.action-sheet__item:hover .action-sheet__item_fixies {
  background-image: url("/public/icons/lock.svg");
}
.action-sheet__item_shares {
  background-image: url("/public/icons/share.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}
.action-sheet__item:hover .action-sheet__item_shares {
  background-image: url("/public/icons/shared.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}
.action-sheet__сancel-button {
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  height: 0.25rem;
  min-width: 8.7rem;
  border-radius: 0.125rem;
  background-color: #fff;
}
.action-sheet__сancel-button:hover {
  background-color: #f2f2f2;
}

@media (min-width: 744px) {
  /* 744px */
  .objects__card-options {
    position: relative;
  }
  .action-sheet {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    background: none;
  }
  .action-sheet--mobile {
    background-color: transparent;
  }
}
@media (min-width: 1024px) {
  /* 1024px */
  .action-sheet__сancel-button {
    display: none;
  }
}
.show-more {
  padding: 1rem;
  padding-bottom: 6.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.show-more__button {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 8px;
  background-color: #6f77fe;
}

@media (min-width: 1366px) {
  /* 1336px */
  .show-more {
    padding-bottom: 1.5rem;
  }
}
.footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
}
.footer__nav {
  padding: 0 1rem;
}
.footer__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 0;
}
.footer__item {
  flex: 1;
  transition: color 0.3s ease, filter 0.3s ease, transform 0.1s ease-in-out;
}
.footer__item:hover .footer__link {
  color: #6f77fe;
}
.footer__item:hover .footer__link .footer__icon:not(.profile-icon) {
  filter: invert(62%) sepia(90%) saturate(428%) hue-rotate(204deg) brightness(98%) contrast(93%);
}
.footer__item:active {
  transform: scale(0.95);
  transition: transform 0s;
}
.footer__link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 120%;
  color: #9596a7;
}
.footer__link--active {
  color: #6f77fe;
}
.footer__link--active .footer__icon:not(.profile-icon) {
  filter: invert(62%) sepia(90%) saturate(428%) hue-rotate(204deg) brightness(98%) contrast(93%);
}
.footer__icon {
  width: 1.75rem;
  height: 1.75rem;
  display: block;
  margin: auto;
  margin-bottom: 0.125rem;
}
.footer .profile-icon {
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__line-button {
  padding: 0;
  height: 0.25rem;
  width: 8.5rem;
  border-radius: 0.125rem;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: #3c3d48;
}
.footer__line-button:active {
  background-color: #6f77fe;
}

@media (min-width: 744px) {
  /* 744px */
  .footer__line-button {
    width: 19.75rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 1366px) {
  /* 1336px */
  .footer {
    display: none;
  }
}
@media (min-width: 744px) {
  /* 744px */
  .main__top {
    border-bottom: 1px solid #ecedf0;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 1024px) {
  /* 1024px */
  .main__top {
    max-height: 18.625rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;
  }
  .main__top .builder__logo {
    flex-shrink: 0;
  }
  .main__top .builder .scroll-container {
    max-height: 10.5rem;
    min-width: 7.5rem;
    padding: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    /* Стилизация полосы прокрутки с помощью псевдоэлементов */
    /*  Угол в месте пересечения вертикальной и горизонтальной прокруток */
  }
  .main__top .builder .scroll-container ::-webkit-scrollbar {
    margin-left: 0.25rem;
    height: 100%;
    width: 0.75rem;
    padding: 0.75rem 0.375rem 0.75rem 0;
  }
  .main__top .builder .scroll-container ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 8px;
  }
  .main__top .builder .scroll-container ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    width: 0.375rem;
    height: 4.75rem;
    background-color: rgba(183, 184, 195, 0.6);
  }
  .main__top .builder .scroll-container ::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 8px 0 rgba(30, 30, 36, 0.1), 0 8px 16px 0 rgba(23, 23, 28, 0.05);
  }
  .main__top .builder .scroll-container ::-webkit-scrollbar-thumb:active {
    background-color: #6f77fe;
    box-shadow: 0 0 8px 0 rgba(30, 30, 36, 0.1), 0 8px 16px 0 rgba(23, 23, 28, 0.05);
  }
  .main__top .builder .scroll-container ::-webkit-scrollbar-button {
    display: none;
  }
  .main__top .builder .scroll-container ::-webkit-scrollbar-corner {
    display: none;
  }
}
.desktop-menu {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  max-width: 5rem;
  background-color: #fff;
  border-right: 1px solid #ecedf0;
  box-shadow: 0 0 8px 0 rgba(30, 30, 36, 0.1), 0 8px 16px 0 rgba(23, 23, 28, 0.05);
  transition: left 0.3s ease;
}
.desktop-menu__nav {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.desktop-menu__nav_top {
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}
.desktop-menu__nav_bottom {
  width: 100%;
  padding-bottom: 0.25rem;
}
.desktop-menu__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.desktop-menu__item {
  width: 100%;
  margin: 0.6875rem 0;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  transition: color 0.3s ease, filter 0.3s ease, transform 0.1s ease-in-out;
}
.desktop-menu__item:hover .desktop-menu__link {
  color: #6f77fe;
}
.desktop-menu__item:hover .desktop-menu__link .desktop-menu__icon:not(.profile-icon) {
  filter: invert(62%) sepia(90%) saturate(428%) hue-rotate(204deg) brightness(98%) contrast(93%);
}
.desktop-menu__item:active {
  transform: scale(0.95);
  transition: transform 0s;
}
.desktop-menu__link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 120%;
  color: #9596a7;
}
.desktop-menu__link--active {
  color: #6f77fe;
}
.desktop-menu__link--active .desktop-menu__icon:not(.profile-icon) {
  filter: invert(62%) sepia(90%) saturate(428%) hue-rotate(204deg) brightness(98%) contrast(93%);
}
.desktop-menu__icon {
  width: 1.75rem;
  height: 1.75rem;
  display: block;
  margin: auto;
  margin-bottom: 0.125rem;
}
.desktop-menu__logo {
  width: 2.625rem;
  height: 2.625rem;
  display: block;
  border-radius: 4px;
}
.desktop-menu .profile-icon {
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 129%;
  letter-spacing: 0em;
  text-align: center;
  color: #1e1e24;
  background-color: #fff;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
button,
select,
option,
input,
label,
a {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

button {
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-align: center;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #6f77fe;
  transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
}
button:hover {
  box-shadow: 0 0 8px 0 rgba(30, 30, 36, 0.1), 0 8px 16px 0 rgba(23, 23, 28, 0.05);
  opacity: 0.8;
}
button:active {
  transform: translateY(1px);
  transition: transform 0s;
}
button:disabled {
  background-color: #b7b8c3;
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}/*# sourceMappingURL=style.css.map */