@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@import "./variables";
@import "./mixins";

@import "./components/status-bar";
@import "./components/header";
@import "./components/sort-select";
@import "./components/search";
@import "./components/builder";
@import "./components/objects-filter";
@import "./components/objects";
@import "./components/action-sheet";
@import "./components/show-more";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-family;
  font-size: $font-size-item;
  font-weight: $font-weight-regular;
  line-height: 129%;
  letter-spacing: 0em;
  text-align: center;
  color: $color-text-primary;
  background-color: $color-white;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
button,
a {
  font-family: $font-family;
}
a {
  text-decoration: none;
}
.container {
  margin-left: $spacing-md;
  margin-right: $spacing-md;
}
