@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
.status-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 1.25rem 2rem;
}
.status-bar__time {
  margin-left: 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #3c3d48;
}
.status-bar__icons {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.status-bar__signal, .status-bar__wifi, .status-bar__battery {
  width: auto;
  height: 0.8125rem;
}
.status-bar__battery {
  width: 1.8125rem;
  height: 0.8125rem;
  background-image: url("/public/icons/battery.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  overflow: hidden;
}
.status-bar__battery-level {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 2.3px 4.5px 2.3px 2.1px;
  background-color: #3c3d48; /* цвета заряда */
  border-radius: 2px; /* Чтобы не вылезал за рамки */
  transition: width 0.3s ease; /* Плавное изменение уровня */
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.header__filter-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border: none;
}
.header__filter-button .button__icon {
  width: 20px;
  height: 20px;
  width: 1.25rem;
  height: 1.25rem;
}
.header__filter-button .button__indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #6f77fe;
}
.header__filter-button .button__indicator-value {
  padding: 3px 2px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 117%;
  color: #fff;
}
.header__title {
  font-weight: 600;
  font-size: 1.0625rem;
}

.sort {
  position: relative;
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.select {
  appearance: none; /* Убираем стандартные стили select */
  -webkit-appearance: none; /* Для Safari */
  -moz-appearance: none; /* Для Firefox */
  width: 100%;
  padding: 0.5rem 2rem; /* Добавляем отступы для текста */
  border: 1px solid #b7b8c3; /* Пример границы */
  border-radius: 8px; /* Пример скругления */
  background-color: #fff;
  color: #1e1e24;
  cursor: pointer;
}
.select:focus {
  outline: none; /* Убираем рамку при фокусе */
  border-color: #6f77fe; /* Меняем цвет границы при фокусе */
}

.sort__label {
  position: absolute;
  top: 50%;
  left: 0.375rem;
  color: #9596a7;
  transition: all 0.3s ease;
  pointer-events: none;
  transform: translateY(-50%);
}
.select:focus + .sort__label, .select:valid + .sort__label {
  top: 0;
  padding: 0 0.375rem;
  left: 0.375rem;
}

.select__icon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none; /* Чтобы иконка не мешала кликам */
}
.select__icon img {
  width: 20px;
  height: 20px;
}

.select__chevron {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none; /* Чтобы иконка не мешала кликам */
}
.select__chevron img {
  width: 20px;
  height: 20px;
}

.search {
  padding: 1rem;
}
.search__title {
  margin-top: 0;
  font-weight: 600;
  font-size: 1.0625rem;
  text-align: left;
  margin-bottom: 1.5rem;
}
.search__label {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #777777;
  text-align: left;
  margin-bottom: 0.375rem;
}
.search__label_span {
  color: #f25a50;
}
.search__input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #b7b8c3;
  border-radius: 8px;
  font-size: 0.875rem;
  color: #1e1e24;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}
.search__input:focus {
  border-color: #6f77fe;
}
.search__input::-moz-placeholder {
  color: #b7b8c3;
}
.search__input::placeholder {
  color: #b7b8c3;
}
.search__button {
  margin-top: 0.5rem;
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: #6f77fe;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.search__button:hover {
  background-color: opacity 0.4;
}
.search__button:active {
  transform: translateY(1px);
}

.builder {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.builder__title {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #1e1e24;
  margin-bottom: 0.75rem;
}
.builder__statuses {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
  display: flex;
  flex-wrap: wrap; /* Чтобы элементы переносились на новую строку */
}
.builder__status {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #777777;
}
.builder__status-icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  display: inline-block; /* Чтобы можно было задавать размеры */
}
.builder__status-icon--selected {
  border: 2px solid #6f77fe; /* Цвет для "Выбрано" */
}
.builder__status-icon--available {
  background-color: #25a25f; /* Цвет для "Доступно" */
}
.builder__status-icon--not-unique {
  background-color: #f25a50; /* Цвет для "Не уникальный клиент" */
}
.builder__status-icon--no-objects {
  background-color: #b7b8c3; /* Цвет для "Нет объектов" */
}
.builder__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.builder__logo-link {
  display: block; /* Чтобы ссылка занимала всю площадь логотипа */
}
.builder__logo {
  height: 1.25rem;
  max-width: 5.625rem;
  padding: 0.75rem;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #fff;
  border-radius: 8px;
}
.builder .active {
  border: 2px solid #6f77fe;
}

.objects-filter {
  padding: 1rem;
}
.objects-filter__count {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 0.5rem;
  text-align: left;
}
.objects-filter__tags {
  display: flex;
  flex-grow: 1; /* Текст занимает все доступное место */
  overflow: hidden; /* Скрываем лишний текст */
  white-space: nowrap; /* Запрещаем перенос строки */
  gap: 0.25rem;
  text-align: left;
}
.objects-filter__tag {
  background-color: #fff;
  color: #3c3d48;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 117%;
  border: 0.5px solid #dddde3;
  border-radius: 6px;
  padding: 0.375rem;
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  cursor: pointer;
}
.objects-filter__tag:focus {
  border-color: #6f77fe;
}
.objects-filter__tag::-moz-placeholder {
  color: #b7b8c3;
}
.objects-filter__tag::placeholder {
  color: #b7b8c3;
}
.objects-filter__tag-close {
  width: 0.625rem;
  height: 0.625rem;
  cursor: pointer;
}
.objects-filter__tag-close:hover {
  fill: #7f8195;
}

.objects__grid {
  display: grid;
  grid-template-columns: 1fr; /* 1 колонка по умолчанию */
  gap: 1rem;
}
@media (min-width: 744px) {
  .objects__grid {
    /* 744px */
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  }
}
@media (min-width: 1024px) {
  .objects__grid {
    /* 1024px */
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  }
}
@media (min-width: 2560px) {
  .objects__grid {
    /* 2560px */
    grid-template-columns: repeat(7, 1fr); /* 7 колонок */
  }
}
.objects__card {
  border-radius: 0.75rem;
  padding: 0.5rem 1rem 1.5rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: relative;
}
.objects__card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.objects__card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.75rem;
}
.objects__card-info {
  text-align: left;
}
.objects__card-square {
  font-size: 0.875rem;
  font-weight: 500;
  color: #3c3d48;
}
.objects__card-number {
  font-size: 0.875rem;
  color: #b7b8c3;
}
.objects__card-options {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.objects__card-image img {
  width: 100%;
  display: block;
  border-radius: 8px 8px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
.objects__card-content {
  padding: 0.75rem;
  text-align: left;
}
.objects__card-price {
  font-size: 1.0625rem;
  font-weight: 600;
  color: #1e1e24;
  margin-bottom: 0.375rem;
}
.objects__card-price-per-meter {
  font-size: 0.875rem;
  color: #777777;
  margin-bottom: 1rem;
}
.objects__card-address {
  font-size: 0.875rem;
  color: #777777;
  margin-bottom: 1rem;
  line-height: 1.3;
}
.objects__card-developer {
  position: relative;
}
.objects__card-developer img {
  width: 50px;
  height: auto;
}
.objects__card-favorite {
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
  transform: translate(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #6f77fe;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.objects__card-favorite:hover {
  background-color: #565ffe;
}
.objects__card-pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  gap: 0.375rem;
  margin-top: 0.75rem;
}
.objects__card-pagination-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #b7b8c3;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.objects__card-pagination-dot:hover {
  opacity: 1;
}
.objects__card-pagination-dot--active {
  opacity: 1;
  background-color: #6f77fe;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 129%;
  letter-spacing: 0em;
  text-align: center;
  color: #1e1e24;
  background-color: #fff;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
}/*# sourceMappingURL=style.css.map */