@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@import "./variables";
@import "./components/statusbar";
@import "./components/sort-select";
@import "./components/builder";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-family;
  text-align: center;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
