@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
}
.status-bar__time {
  margin-left: 1.25rem;
  font-size: 1.25rem;
  color: #3c3d48;
}
.status-bar__icons {
  display: flex;
  align-items: center;
}
.status-bar__signal, .status-bar__wifi, .status-bar__battery {
  width: 100%;
  height: 0.8125rem;
  margin-right: 0.3125;
}
.status-bar__battery {
  background-image: url("/public/icons/battery.svg");
  background-repeat: no-repeat;
  position: relative;
}
.status-bar__battery-level {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #3c3d48; /* цвета заряда */
  border-radius: 1px; /* Чтобы не вылезал за рамки */
  transition: width 0.3s ease; /* Плавное изменение уровня */
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.header__filter-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 1rem;
  border: none;
}
.header__filter-button .button__icon {
  width: 1.5rem;
  height: 1.5rem;
}
.header__filter-button .button__indicator {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #6f77fe;
}
.header__filter-button .button.__indicator-value {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  color: #fff;
}
.header__title {
  font-size: 1.25rem;
}

.sort {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.select {
  appearance: none; /* Убираем стандартные стили select */
  -webkit-appearance: none; /* Для Safari */
  -moz-appearance: none; /* Для Firefox */
  width: 100%;
  margin-left: 0.5rem;
  padding: 0.5rem 2.25rem; /* Добавляем отступы для текста */
  border: 1px solid #b7b8c3; /* Пример границы */
  border-radius: 8px; /* Пример скругления */
  background-color: #fff;
  color: #1e1e24;
  cursor: pointer;
}
.select:focus {
  outline: none; /* Убираем рамку при фокусе */
  border-color: #6f77fe; /* Меняем цвет границы при фокусе */
}

.sort__label {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  color: #9596a7;
  transition: all 0.3s ease;
  pointer-events: none;
  transform: translateY(-50%);
}
.select:focus + .sort__label, .select:valid + .sort__label {
  top: 0;
  padding: 0 0.25rem;
  left: 0.25rem;
}

.select__icon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none; /* Чтобы иконка не мешала кликам */
}
.select__icon img {
  width: 20px;
  height: 20px;
}

.select__chevron {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none; /* Чтобы иконка не мешала кликам */
}
.select__chevron img {
  width: 20px;
  height: 20px;
}

.builder {
  margin-bottom: 1.5rem;
}
.builder__title {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #1e1e24;
  line-height: 129%;
  margin-bottom: 0.75rem;
}
.builder__statuses {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
  display: flex;
  flex-wrap: wrap; /* Чтобы элементы переносились на новую строку */
}
.builder__status {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 129%;
  color: #777777;
}
.builder__status-icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  display: inline-block; /* Чтобы можно было задавать размеры */
}
.builder__status-icon--selected {
  background-color: #6f77fe; /* Цвет для "Выбрано" */
}
.builder__status-icon--available {
  background-color: #25a25f; /* Цвет для "Доступно" */
}
.builder__status-icon--not-unique {
  background-color: #f25a50; /* Цвет для "Не уникальный клиент" */
}
.builder__status-icon--no-objects {
  background-color: #b7b8c3; /* Цвет для "Нет объектов" */
}
.builder__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Отступы между логотипами */
}
.builder__logo-link {
  display: block; /* Чтобы ссылка занимала всю площадь логотипа */
}
.builder__logo {
  width: 4.125rem;
  height: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  color: #1e1e24;
  background-color: #fff;
  box-sizing: border-box;
  letter-spacing: 0em;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */