@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@import "./variables";
@import "./mixins";

@import "./components/status-bar";
@import "./components/header";
@import "./components/search";
@import "./components/builder";
@import "./components/objects-filter";
@import "./components/objects";
@import "./components/action-sheet";
@import "./components/show-more";
@import "./components/footer";
@import "./components//main__top";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-family;
  font-size: $font-size-item; // 14px
  font-weight: $font-weight-regular; // 400
  line-height: 129%;
  letter-spacing: 0em;
  text-align: center;
  color: $color-text-primary; // #1e1e24;
  background-color: $color-white;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
button,
select,
option,
input,
label,
a {
  font-family: $font-family;
}
a {
  text-decoration: none;
}
.container {
  margin-left: $spacing-md;
  margin-right: $spacing-md;
}

button {
  cursor: pointer;
  border-radius: $border-radius;
  padding: $spacing-sm $spacing-lg;
  color: $color-white;
  background-color: $color-primary;
  transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    transform 0.1s ease-in-out;

  &:hover {
    box-shadow: $box-shadow;
    opacity: $enabled; // Затемнение при наведении
  }
  &:active {
    // Добавим небольшое "утапливание" при клике
    transform: translateY(1px);
  }
  &:disabled {
    background-color: $color-grey;
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
}
